version: "3"

services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop2.7.4-java8
    networks:
      default:
        ipv4_address: 172.18.1.31
    volumes:
      - namenode:/hadoop/dfs/name
    environment:
      - CLUSTER_NAME=test
    env_file:
      - ./hadoop-hive.env
    ports:
      - "5070:50070"
  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop2.7.4-java8
    networks:
      default:
        ipv4_address: 172.18.1.32
    volumes:
      - datanode:/hadoop/dfs/data
    env_file:
      - ./hadoop-hive.env
    environment:
      SERVICE_PRECONDITION: "namenode:50070"
    ports:
      - "5075:50075"
  hive-server:
    image: cielleech/hive:2.3.2-mysql-metastore
    networks:
      default:
        ipv4_address: 172.18.1.33
    env_file:
      - ./hadoop-hive.env
    environment:
      HIVE_CORE_CONF_javax_jdo_option_ConnectionURL: "jdbc:mysql://10.8.0.3:3306/hive"
      SERVICE_PRECONDITION: "hive-metastore:9083"
    ports:
      - "10000:10000"
  hive-metastore:
    image: cielleech/hive:2.3.2-mysql-metastore
    networks:
      default:
        ipv4_address: 172.18.1.34
    env_file:
      - ./hadoop-hive.env
    command: /opt/hive/bin/hive --service metastore
    environment:
      SERVICE_PRECONDITION: "namenode:50070 datanode:50075"
    ports:
      - "9083:9083"
#  presto-coordinator:
#    image: shawnzhu/prestodb:0.181
#    networks:
#      default:
#        ipv4_address: 10.8.0.14
#    ports:
#      - "8080:8080"

volumes:
  namenode:
  datanode:

networks:
  default:
    external:
      name: base-net